doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title zacharyc consulting

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#') zacharyc consulting
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link(href='#services') Services
                        li.nav-item
                            a.nav-link(href='#experience') Experience
                        li.nav-item
                            a.nav-link(href='#process') Process
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Page content
        .container
            .text-center.mt-5
                h1 zacharyc consulting
                p.lead quality consulting from an experienced industry professional
            .text-left.mt-5
                h2#services Services
                p Solving your technology problems is complex. Especially if your industry is something other than technology. That is where we come in. As experienced industry professionals we understand technology at a different level. This is our business, and has been for over 15 years. With a diverse array of programming and technology experiences we know what to be excited about and what to let pass. Working with us we can help you solve your technological problems by find the right professionals to help solve your problems. The list below is a sample list of technological services we can provide, but this is not the limit. If there is there is something technology related that you have concerns about we can help.

                ul
                    li Website Construction - we can help you find the right people to develop your website.
                    li Digital Marketing - we can find the correct people to help you with your digital marketing needs.
                    li Social Engagement - we help you improve your online and digital social media presence by connecting you with the photographers and social media experts.
                    li Technology Education Consulting - interested in learning to program or grow your career. We can help you find the right path for your needs.

            .text-left.mt-5
                h2#Experience Experience
                p Hi, I'm Zack, professionally I go by zacharyc. This is a throwback to old unix usernames where you took your first name and last initial as your default username. I went to Villanova in the early 2000s and graduated with a degree in computer engineering with a minor in computer science. I went straight from that into working (literally less than 3 days later), and have been in the technology industry since.
                p Unlike many in my field I have not specialized in a technology or one specific area. I have worked in back end technologies at financial firms and front end at startup companies. My experience is quite varied and I have been all over the place writing code and making friends. The real benefit of this diverse work experience is that I have had a lot of exposure to different technologies and have built relationships in many different areas of the industry.
                p When you hire me, you are not just hiring me. You are hiring my network of industry professionals who know all about the technology you need in order to solve your problems.
                p For a full list of my experience check out my resume <a href="https://www.zacharyc.com/resume/">zacharyc's resume</a>
            .text-left.mt-5
                h2#process Process
                p Each Clients needs are different. Because of this it is hard to put a price on specific work without discussing the needs. We like to start off each engagement with a quick casual conversation about your needs, interests, and budget. From there we will develop a plan to solve your needs within the timeframe and budget you specify.
            .text-left.mt-5
                h2#contact Contact
                p You can connect with me via email at <a href="mailto:zachary@zacharyc.com">zachary@zacharyc.com</a> or you can call me at <a href="tel:+12039190208">203-919-0208</a>.


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
